@model DragonTracker.Models.TicketComment

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details for comment for @Model.Comment</h1>*@
<br />

<div class="col">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-info"></i>
                Comment Details
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Comment)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Created)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Created)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ticket)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ticket.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.FullName)
                </dd>
            </dl>
            <div>
                <a asp-action="Index" class="btn btn-primary btn-sm">Back to List</a>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
</div>