@model IEnumerable<DragonTracker.Models.TicketComment>

@{
    ViewData["Title"] = "Index";
}

<h1>Ticket Comments</h1>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-comment"></i>
            All Comments 
        </h3>
        <div class="card-tools">
            <a asp-action="Create" asp-controller="TicketComments" class="btn btn-info btn-sm">
                <i class="fas fa-plus">
                </i>
                Create Comment
            </a>
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="tckTble" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ticket)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a> 
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>