@model IEnumerable<DragonTracker.Models.TicketHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>History</h1>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-history"></i>
            History
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="tckTble" class="table">
            <thead>
                <tr>
                    <th>
                        Property
                    </th>
                    <th>
                        OldValue
                    </th>
                    <th>
                        NewValue
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Ticket
                    </th>
                    <th>
                        User
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Property)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OldValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ticket.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>